@import "ember-bootstrap/bootstrap";

.ember-cli-visjs-network .network-canvas {
  width: 100%;
  height: calc(100vh - 250px);
  border: 2px solid #999;
}

.top-panel {
  height: 250px;
  width: 100%;
  border: #0b2e13;
}



