<h2>E-Mon Dashboard</h2>
{{input type="text" value=opId class="form-control"}}

<button {{action "openTopology" opId}} class="btn btn-primary">Open Topology</button>

{{#if hasMessage}}
  <p>{{{content.statusMessage}}}</p>
{{/if}}

{{outlet}}