<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>jfrog-releases</id>
            <username>${env.MVN_JFROG_USERNAME}</username>
            <password>${env.MVN_JFROG_PASSWORD}</password>
        </server>
        <server>
            <id>jfrog-snapshots</id>
            <username>${env.MVN_JFROG_SNAPSHOT_USERNAME}</username>
            <password>${env.MVN_JFROG_SNAPSHOT_PASSWORD}</password>
        </server>
        <server>
            <id>maven.oracle.com</id>
            <username>${env.MVN_ORACLE_USERNAME}</username>
            <password>${env.MVN_ORACLE_PASSWORD}</password>
            <configuration>
                <basicAuthScope>
                    <host>ANY</host>
                    <port>ANY</port>
                    <realm>OAM 11g</realm>
                </basicAuthScope>
                <httpConfiguration>
                    <all>
                        <params>
                            <property>
                                <name>http.protocol.allow-circular-redirects</name>
                                <value>%b,true</value>
                            </property>
                        </params>
                    </all>
                </httpConfiguration>
            </configuration>
        </server>
    </servers>
</settings>
